* {
          box-sizing: border-box;
              margin: 0;
             padding: 0;
}
.App {
          text-align: center;
          min-height: 100vh;
             padding: 60px 0;
    background-color: black;
}
.App-main {
     background: black;
     min-height: 100vh;
}
.CounterBlock {
             display: flex;
         align-items: center;
     justify-content: center;
      flex-direction: column;
           max-width: 200px;
          max-height: 200px;
          min-height: 100px;
             padding: 20px;
              border: 2px solid blanchedalmond;
       border-radius: 20px;
          background: black;
               color: white;
}
.CounterBlock span {
           position: absolute;
            display: block;
                top: 50%;
               left: 50%;
          transform: translateX(-50%)
                     translateY(-50%);
          font-size: 90vh;
              color: rgba(29, 54, 54, 0.329);
              z-index: 1;
}
.CounterBlock-Btns {
             display: flex;
      flex-direction: row;
       margin-bottom: -30px;
}
.ZeroBlock {
          box-shadow: none;
               color: red;
               
}
.ZeroBlock:hover {
              cursor: not-allowed;
      letter-spacing: normal;
           font-size: 14px;
          box-shadow: 0 0 8px 4px rgb(0, 0, 0);           
}
.interaction span {
            position: absolute;
                left: 50%;
           transform: translateX(-50%);
             display: inline-block;
               color: rgba(59, 48, 48, 0.2);
           font-size: 600px;
}
.interaction-content {
            position: absolute;
             display: flex;
           transform: translateY(-50%);
               width: 100%;
             padding: 30px;
       border-radius: 20px;
                 top: 50%;
          background: rgba(59, 48, 48, 0.8);
}
.MyInp-form {
          text-align: center;
               width: 80%;
             padding: 0 50px;
}
.MyInp-form h3 {
         font-weight: normal;          
             padding: 5px;
          max-height: 90px;           
}
.MyInp-form-active {
      border-radius: 10px;
             border: 1px solid black;
             transition: all 1s linear;
}
.MyInp-form-content {
            overflow: hidden;
               color: aqua;
      text-transform: uppercase;
          text-align: center;
         padding-top: 35px;
          min-height: 100px;
               width: 100%;
      letter-spacing: 3px;
}
.Post {
              margin: 10px;
             padding: 15px 30px;
       border-radius: 25px;
         font-weight: 600;
       margin-bottom: 30px;
          box-shadow: 0px 0px 20px 5px rgba(42, 236, 236, 0.726);
          background: rgb(0, 0, 0);
               color: whitesmoke;
}
.Post:hover {
          box-shadow: 0px 0px 20px 5px rgba(57, 187, 57, 0.719);
}
.Post div h3 {
          text-align: left;
}
.Post-content-title {
      text-transform: uppercase;
}
.Post div span {
             display: block;
          text-align: center;
              margin: 10px;
             padding: 10px;
       border-radius: 30px;
               color: black;
          background: whitesmoke;
}
.Post-btns {
             display: flex;
     justify-content: space-between;
}
.Filter-form {
             display: flex;
     justify-content: space-around;
         align-items: center;
          margin-top: 20px;
             padding: 0 30px;
               width: 100%;
              height: 100px;
       border-radius: 20px;
          box-shadow: 0px 0px 20px 5px rgba(230, 230, 230, 0.719);
              border: 3px solid black;
          background: rgba(59, 48, 48, 0.733);
}
.Filter-form:hover {
              border: 3px solid rgba(73, 45, 21, 0.76);
          box-shadow: 0px 0px 20px 5px rgba(230, 230, 230, 0.863);
          background: rgba(59, 48, 48, 0.932);
}
.Select {
          appearance: none;
      text-transform: uppercase;
          text-align: center;
      letter-spacing: 1px;
             padding: 15px;
       border-radius: 20px;
         font-weight: 700;
          background: #f4cd8ab9;
}    
.Select:focus {
          background: #f4cd8ae5;
}
.Error {
          margin-top: 50px;
               color: red;
}
.NavBar {
            position: fixed;
             display: flex;
     justify-content: space-around;
         align-items: center;
         top: 0;
                left: 0;
               right: 0;
          min-height: 50px;
             padding: 10px 0;
          box-shadow: 0 0 20px 10px rgba(82, 60, 60, 0.712);
          background: rgba(3, 0, 0, 0.87);
             z-index: 100;
      border-bottom-left-radius: 20px;
          border-end-end-radius: 20px;
}
.Navbar-item {
     text-decoration: none;
      text-transform: uppercase;
          text-align: center;
              height: 40px;
             padding: 9px 15px;
         font-weight: 600;
      letter-spacing: 1px;
       border-radius: 20px;
              border: 2px solid whitesmoke; 
          box-shadow: 0 0 8px 5px rgba(20, 135, 143, 0.425);
               color: whitesmoke;
          background: rgba(32, 21, 21, 0.61);
          transition: all 0.2s ease-in-out;
             z-index: 1000;
}
.Navbar-item:hover {
      letter-spacing: 2px;
              border: 2px solid rgba(57, 187, 57, 0.719); 
          box-shadow: 0 0 8px 5px rgba(57, 187, 57, 0.719);
}
.NavBar-item-active {
          box-shadow: 0 0 8px 5px rgba(57, 187, 57, 0.719);
}
.PostById {
            position: relative;
                 top: 100px;
                left: 50%;
           transform: translateX(-50%);
          box-shadow: 0px 0px 20px 5px rgba(57, 187, 57, 0.719);
}
.Block-ComById {
            position: relative;
               width: 80%;
                 top: 150px;
                left: 50%;
           transform: translateX(-50%);
             padding: 30px;
       border-radius: 25px;
          background: rgba(255, 255, 255, 0.753);
}
.Block-ComById h3 {
          text-align: center;
      text-transform: uppercase;
        word-spacing: 4px;
       border-radius: 20px;
             padding: 15px;
       margin-bottom: 40px;
           font-size: 20px;
          box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.719);
          background: rgb(75, 43, 43);
}                  
.ComById {         
       margin-bottom: 35px;
             padding: 10px;
       border-radius: 10px;
          box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.719);
               color: whitesmoke;
          background: black;
          border-top-left-radius: 20px;
      border-bottom-right-radius: 30px;
}
.ComById::before {
             content: '';
             display: block;
            position: relative;
                 top: -30px;
                left: -30px;
       border-radius: 50%;
               width: 40px;
              height: 40px;
              border: 1px solid rgba(0, 0, 0, 0.582);
          background: rgb(202, 164, 164);
}
.ComById h2 {
          margin-top: -25px;
       margin-bottom: 5px;
}                 
.ComById div span {    
             display: block;
             padding: 8px;
              margin: 8px 5px;
       border-radius: 20px;
               color: black;
          background: rgba(241, 226, 226, 0.973);
}
.ComById div span:nth-child(1){
      text-transform: uppercase;
          text-align: center;
         font-weight: 600;
}
.ComById div span::first-letter {
      text-transform: uppercase;
}
.CrtPost-btn {
       text-transform: uppercase;
          font-weight: 600;
       letter-spacing: 1px;
              padding: 15px;
        border-radius: 20px;
               border: 1px solid rgba(21, 231, 13, 0.432);
           background: #f4cd8ab9;
}   
.CrtPost-btn-active {
            animation: crt-post 1s linear  infinite;
           transition: all 2s linear;
}
@keyframes crt-post {
    0% {
           box-shadow: 0 0 10px 2px rgba(57, 187, 57, 0.719);
          font-weight: 600;
    }
    50% {
           box-shadow: 0 0 20px 4px rgba(57, 187, 57, 0.719);
          font-weight: 700;
            font-size: 13px;
    }
    100% {
           box-shadow: 0 0 10px 2px rgba(57, 187, 57, 0.719);
          font-weight: 600;
    }
}
.Log-Page {
              display: flex;
      justify-content: space-around;
          align-items: center;
       flex-direction: column;
             position: absolute;
                  top: 50%;
                 left: 50%;
            transform: translateX(-50%)
                       translateY(-50%);
              padding: 20px;
                width: 300px;
               height: 180px;
        border-radius: 30px;
           box-shadow: 0 0 50px 5px whitesmoke;
           background: grey;
              z-index: 1;
}
.Log::before, .Log::after  {
              content: '';
              display: block;
             position: absolute;
                  top: 50%;
                 left: 50%;
               margin: -350px 0 0 -100px;
                width: 30px;
               height: 700px;
               border-radius: 50%;
            transform: rotate(30deg);
           box-shadow: 0 0 50px 3px rgba(245, 245, 245, 0.13);
           background: rgba(255, 255, 255, 0.153);
              z-index: 0;
}
.Log::after {
               margin: -350px 0 0 40px;
}
