.MyBtn {
  text-transform: uppercase;
      transition: all 0.3s ease-in-out; 
          cursor: pointer;
         padding: 5px 10px;
          margin: 5px 10px;
       font-size: 14px;
   border-radius: 15%;
          border: 1px solid black;
      box-shadow: 0 0 8px 4px white;
      background: rgba(0, 0, 0, 0.788);
           color: white;

}
.MyBtn:hover {
       font-size: 16px;
  letter-spacing: 2px;
      box-shadow: 0 0 8px 4px rgba(57, 187, 57, 0.719);
}
.MyBtn:nth-child(2) {
    margin-right: 0;
}
.MyBtn:nth-child(2):hover {
    margin-right: 0;
      box-shadow: 0 0 8px 4px rgba(209, 14, 14, 0.719);
}